/*////////////////////////////////////////////////////////////////////////
Table of Contents:
	1. Global Styles
    2. Typografy
    3. Layout
	    - Reusables
	    - Other
    4. Areas
		- 4.1 Header
	    - 4.2 Testimonial
	    - 4.3 Support
	    - 4.4 Faq
	    - 4.5 Footer
	    5. Queries
////////////////////////////////////////////////////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border: transparent;
    border-radius: 15px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.order-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.error-message {
    color: red;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
}


